<%- include('../partials/header.ejs') %>

<article class="post pure-u-1">

  <header>
    <h1>Erreur 404 - Page not found !</h1>
        <div class="post-meta">
        <footer>
          La page que vous demandez n'existe pas =>
          <a class="pure-button" href="/">Retour à l'accueil</a>
        </footer>
        </div>
  </header>

    <figure class="post-picture">
      <img class="pure-img" src="https://www.lego.com/cdn/cs/aboutus/assets/blt9535948bd64f0059/404.jpg" alt="erreur 404">
    </figure>
    
</article>

<%- include('../partials/footer.ejs') %>